# Email Configuration
EMAIL_SENDER=christinerealino6@gmail.com
EMAIL_PASSWORD=hexy ofyf kctc ardx

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=dog6t9mx5
CLOUDINARY_API_KEY=275631287775487
CLOUDINARY_API_SECRET=-41zZjN0GR1xVpx5lhBjvomKDAM

# Firebase Configuration (for token verification)
FIREBASE_PROJECT_ID=anomalydetection-18e91
FIREBASE_API_KEY=AIzaSyBkzsnfMCkjb57ZGOtAxtwYlQO6DIcitys