# Email Configuration
EMAIL_SENDER=realinochristine55@gmail.com
EMAIL_PASSWORD=awpl lrmg ulpe xmcz

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=dpkds0mpw
CLOUDINARY_API_KEY=573419718341736
CLOUDINARY_API_SECRET=wFzLdsZ_O9vLiZKP2bvZCN_XGjA

# Firebase Configuration (for token verification)
FIREBASE_PROJECT_ID=anomalydetection-18e91
FIREBASE_API_KEY=AIzaSyBkzsnfMCkjb57ZGOtAxtwYlQO6DIcitys